body {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main{
  background-color: black;
  height: 100vh;
  color: white;
}

#main .container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
